/* Error: There is no module with the namespace "variables".
 *    ,
 * 10 |       color: variables.$secondary-color;
 *    |              ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\_footer.scss 10:14  @use
 *   scss\main.scss 7:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a    \2577 \a 10 \2502        color: variables.$secondary-color;\d\a    \2502               ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\_footer.scss 10:14  @use\a   scss\\main.scss 7:1                  root stylesheet';
}
