//*****************************************************
//*   MIXINS
//*****************************************************
@use "../abstracts/variables";
@mixin soft($sec) {
  transition: all $sec;
}

@mixin bgImg($height,$path) {
    width: 100%;
    height: $height;
    background: linear-gradient(
      to right,
      rgba(variables.$primary-color, 0.9),
      rgba(variables.$primary-color, 0.3)
    ),url(../../img/model-1.jpg);
    background-size: cover;
    background-position: center;
  }
